.att-text {
    width: 75%;
    margin: 10px auto;
}

.att-img {
    width: 100%;
    height: 240px;
    position: absolute;
    object-fit: cover;
}

.att-map {
    margin: 260px auto 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.att-social {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    height: 5%;
    position: absolute;
    border-top: 2px solid rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
}

.att-facebook, .att-git {
    width: 50px;
    margin: 20px;
}